.vs
/bin
/asm
/bin_temp
**/x64
*.vcxproj.user

# ignore visual studio aps resource files: https://learn.microsoft.com/en-us/cpp/windows/resource-files-visual-studio?view=msvc-170
*.aps

# ignore imgui configuration
imgui.ini
/projects/nucledian.vcxproj.filters.orig
/source/nucledian/engine/entity/entity.h.orig
/source/nucledian/engine/entity/entity.cpp.orig
/source/nucledian/engine/player/player.cpp.orig
/.godot
/dumps
/demo
*.mscz~
