# Build artifacts
/asm
/bin
/bin_temp
/build*

# Visual Studio
**/x64
*.vcxproj.user
.vs
*.aps

# ImGui
imgui.ini
settings.cfg

# Saves & Demos
demo
save

# Others
*.orig
*.tmp
/.godot
/dumps
*.mscz~
