# CMake
build
out

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake.user

# Visual Studio & Visual Studio Code
.vs
.vscode
*.user
nc.sln.lnk

# build artifacts
/bin
/asm
/bin_temp
**/x64

# other stuff
imgui.ini
/.godot
*.orig